@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.card, .contenedor__staff .ucard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 40px 20px 0px; }

.avatar, .contenedor__staff .ucard > img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms; }
  .avatar:hover, .contenedor__staff .ucard > img:hover {
    filter: grayscale(0); }

.nombre__staff, .contenedor__staff .ucard > h3, .contenedor__staff .contenedor__lotes .card__lotes .ucard > h3, .contenedor__staff .mas__info .ucard > h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center; }

.cargo__staff, .contenedor__staff .ucard > h4 {
  font-size: 16px;
  text-align: center;
  font-weight: 500; }

.mail, .contenedor__staff .ucard > h5 {
  font-size: 14px;
  text-align: center; }

p, .contenedor__lotes .card__lotes h4, .mas__info h4 {
  margin-bottom: 10px;
  text-align: justify;
  font-size: 1em;
  font-weight: 400;
  line-height: 38px; }

h3, .contenedor__lotes .card__lotes h3, .mas__info h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125em; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none !important;
  color: #000000; }

/* ----- AQUI INICIAN LOS CODIGOS DE MENU------*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 100; }

/*HEADER SUPERIOR*/
.header__superior {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0px; }
  .header__superior .logo img {
    width: 250px;
    animation: none !important; }

/*BARRA MENU*/
.container__menu {
  width: 100%;
  height: 70px;
  background: #ffffff;
  padding: 0px 20px; }
  .container__menu .menu {
    max-width: 1200px;
    margin: auto;
    height: 100%; }

nav {
  height: 100%; }
  nav ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    animation: fadeIn;
    animation-duration: 1s; }
    nav ul li {
      height: 100%;
      list-style: none;
      position: relative; }
      nav ul li a {
        width: 100%;
        height: 100%;
        padding: 14px;
        color: #000000;
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 500;
        text-align: left;
        background-image: linear-gradient(transparent 0%, transparent 90%, black 90%, black 100%);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position-x: right;
        transition: background-size 300ms; }
        nav ul li a:hover {
          background-size: 100% 100%;
          background-position-x: left;
          color: #000000; }

/*ELEMENTOS RESPONSIVOS DEL MENU*/
.icon__menu {
  font-size: 1.625em;
  color: #000000;
  cursor: pointer;
  width: 26px;
  height: 100%;
  display: none;
  align-items: center; }

.label__check {
  width: 26px;
  height: 100%;
  display: none; }

#check__menu {
  display: none; }

@media screen and (max-width: 953px) {
  .header__superior {
    display: flex;
    justify-content: center;
    padding: 10px; }
    .header__superior .logo img {
      width: 200px; }
  .container__menu {
    height: 34px; }
  nav ul {
    flex-direction: column;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 106px;
    width: 100%;
    height: 0px;
    z-index: 100;
    opacity: 0;
    visibility: hidden; }
    nav ul li:first-child a {
      background-position: 20px; }
  .label__check {
    display: block; }
  .icon__menu {
    display: flex; }
  #check__menu:checked ~ nav > ul {
    height: 300px !important;
    visibility: visible;
    opacity: 1; }
  main {
    margin-top: 158px; } }

/* -----  AQUI INICIAN LOS CODIGOS DEL FOOTER------*/
footer {
  width: 100%;
  padding: 30px 0px; }
  footer .container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    background-color: black; }
    footer .container__footer .box__footer {
      display: flex;
      flex-direction: column;
      padding: 25px; }
      footer .container__footer .box__footer .terms {
        max-width: 350px;
        font-size: 1em; }
        footer .container__footer .box__footer .terms p, footer .container__footer .box__footer .terms .contenedor__lotes .card__lotes h4, .contenedor__lotes .card__lotes footer .container__footer .box__footer .terms h4, footer .container__footer .box__footer .terms .mas__info h4, .mas__info footer .container__footer .box__footer .terms h4 {
          color: white; }
      footer .container__footer .box__footer h3 {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 1em;
        color: white;
        text-transform: uppercase; }
      footer .container__footer .box__footer li {
        list-style: none;
        font-size: 1em;
        color: white;
        margin-bottom: 5px;
        margin-left: -30px; }
      footer .container__footer .box__footer a {
        margin-top: 10px;
        font-size: 1em;
        margin-bottom: 5px;
        color: white; }

/*iconos footer*/
.fa-brands {
  margin-right: 10px;
  font-size: 1.200em;
  color: white; }

.fa-solid {
  margin-right: 10px;
  font-size: 1.200em;
  color: white; }

.fa-regular {
  margin-right: 10px;
  font-size: 1.200em;
  color: white; }

/*copyright*/
.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 20px; }
  .box__copyright p, .box__copyright .contenedor__lotes .card__lotes h4, .contenedor__lotes .card__lotes .box__copyright h4, .box__copyright .mas__info h4, .mas__info .box__copyright h4 {
    margin-top: 20px;
    font-size: 0.875em;
    text-align: center; }

/* ---- CONTENEDOR PADRE------*/
main {
  max-width: 1200px;
  margin: auto;
  height: 100%;
  background-color: #ffffff;
  margin-top: 200px;
  padding: 15px;
  animation: fadeIn;
  animation-duration: 1s; }

@media screen and (max-width: 900px) {
  main {
    margin-top: 114px; } }

/* ----- AQUI INICIA EL INDEX ------*/
.index__contenedor {
  display: grid;
  grid-template-columns: 40% 5% 40%;
  gap: 0 60px;
  align-items: center;
  animation: slideInUp;
  animation-duration: 1s; }
  .index__contenedor .subasta__index {
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: 600;
    text-align: right; }
  .index__contenedor .subtitulo__index {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.4em;
    text-align: right;
    margin-bottom: 20px; }
  .index__contenedor .boton {
    display: flex;
    justify-content: right; }
    .index__contenedor .boton .boton__index {
      padding: 15px 50px;
      background-color: black;
      color: white;
      border: none;
      transition: all 300ms ease; }
      .index__contenedor .boton .boton__index:hover {
        transform: scale(1.1); }
  .index__contenedor .separador__index {
    width: 3px;
    height: 310px;
    background-color: #000000; }
  .index__contenedor .banner img {
    width: 500px;
    height: 500px;
    object-fit: cover; }

@media screen and (max-width: 1338px) {
  .index__contenedor {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0px;
    margin: -7px 0px 20px; }
    .index__contenedor .subasta__index {
      font-size: 1.500em;
      text-align: center;
      margin-bottom: 5px; }
    .index__contenedor .subtitulo__index {
      font-size: 1.800em;
      text-align: center; }
    .index__contenedor .boton {
      justify-content: center; }
    .index__contenedor .separador__index {
      display: none; }
    .index__contenedor .banner img {
      width: 360px;
      height: 445px;
      object-fit: cover;
      margin-top: 20px; } }

/* ----- AQUI INICIA LA SECCION SUBASTA ACTUAL ------*/
.contenedor__Subasta {
  display: grid;
  grid-template-columns: repeat(2, 40% 57%);
  gap: 50px;
  margin-bottom: 30px; }
  .contenedor__Subasta .subasta__arte {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 800;
    text-align: right;
    margin-bottom: -3px;
    animation: fadeInLeft;
    animation-duration: 1s; }
  .contenedor__Subasta .subtitulo {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.844em;
    text-align: right;
    animation: fadeInLeft;
    animation-duration: 1s; }
  .contenedor__Subasta .separador {
    padding: 1px;
    background-color: black;
    margin-bottom: 30px; }
  .contenedor__Subasta .parrafo__black {
    font-weight: 500;
    text-align: right;
    margin-top: -10px;
    animation: fadeInLeft;
    animation-duration: 1s; }

.contenedor__lotes {
  display: flex;
  flex-direction: column;
  /* -LOTES-*/ }
  .contenedor__lotes .separador {
    padding: 1px;
    background-color: black;
    margin-bottom: 30px; }
  .contenedor__lotes .card__lotes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30% 40% 10%);
    gap: 60px;
    margin-bottom: 30px; }
    .contenedor__lotes .card__lotes img {
      width: 100%;
      margin-bottom: 40px; }
    .contenedor__lotes .card__lotes .boton__info {
      margin: 20px 0px;
      padding: 15px;
      background-color: black;
      color: white;
      border: none;
      transition: all 300ms ease; }
      .contenedor__lotes .card__lotes .boton__info:hover {
        transform: scale(1.1); }

/* -CODIGOS CORRESPONDIENTES A LAS PAGINAS LOTE-*/
.boostrap__lote {
  max-width: 500px;
  margin: auto;
  padding-bottom: 30px; }

.mas__info .separador {
  padding: 1px;
  background-color: black;
  margin-bottom: 30px; }

@media screen and (max-width: 968px) {
  .contenedor__Subasta {
    display: flex;
    flex-direction: column;
    gap: 10px; }
    .contenedor__Subasta .parrafo__black {
      text-align: left;
      margin: 0;
      gap: 10px; }
  .contenedor__lotes {
    display: flex;
    flex-direction: column;
    margin: auto; }
    .contenedor__lotes .card__lotes {
      width: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px; }
      .contenedor__lotes .card__lotes img {
        width: 250px;
        margin-bottom: 20px;
        margin: auto; }
  .boostrap__lote {
    width: auto;
    margin: auto;
    margin-bottom: 20px; } }

/* ----- AQUI INICIA LA PAGINA SUBASAS PASADAS ------*/
.titulo__secciones {
  display: flex;
  flex-wrap: wrap;
  animation: fadeInLeft;
  animation-duration: 1s; }
  .titulo__secciones h1 {
    text-transform: uppercase;
    font-size: 1.813em;
    font-weight: 800; }
  .titulo__secciones h2 {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 1.813em; }

.contenedor__catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px; }
  .contenedor__catalogo .catalogo img {
    width: 230px;
    min-height: 300px;
    background-size: cover;
    background-position: center center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px; }
  .contenedor__catalogo .boton__catalogo {
    padding: 15px 78px;
    background-color: black;
    color: white;
    border: none;
    transition: all 300ms ease; }
    .contenedor__catalogo .boton__catalogo:hover {
      transform: scale(1.1); }

@media screen and (max-width: 900px) {
  .titulo__secciones h2 {
    margin-left: 0px; }
  .contenedor__catalogo {
    justify-content: center;
    margin: auto; } }

/* ----- AQUI INICIA LA PAGINA NOSOTROS ------*/
.contenedor__nosotros {
  display: grid;
  grid-template-columns: 55% 5% 40%;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px; }
  .contenedor__nosotros .separador__nosotros {
    width: 2px;
    height: 340px;
    background-color: black;
    margin-left: 25px; }
  .contenedor__nosotros .fachada img {
    width: 450px;
    margin: 0px; }

.contenedor__staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto; }

.separador {
  padding: 1px;
  background-color: black;
  margin-bottom: 30px; }

@media screen and (max-width: 900px) {
  .contenedor__nosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    .contenedor__nosotros .fachada img {
      width: 100%;
      padding: 0;
      margin: 15px 0px 15px; }
    .contenedor__nosotros .separador__nosotros {
      width: 340px;
      height: 2px; }
  .contenedor__staff {
    display: flex;
    flex-direction: column;
    margin: auto; } }

/* ----- AQUI INICIA LA PAGINA CONTACTOS ------*/
.formulario__contacto {
  max-width: 1000px;
  height: auto;
  margin: 24px auto;
  padding: 20px; }
  .formulario__contacto input {
    width: 800px;
    height: 40px;
    border-style: solid;
    border-top: #000000;
    border-left: none;
    border-right: none;
    border-width: 2px;
    border-color: black;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px; }
  .formulario__contacto textarea {
    width: 800px;
    height: 150px;
    padding-top: 15px;
    border-style: solid;
    border-top: #000000;
    border-left: none;
    border-right: none;
    border-width: 2px;
    border-color: black;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px; }
  .formulario__contacto label {
    display: block;
    float: center; }
  .formulario__contacto .enviar {
    padding: 1px 369px;
    background-color: black;
    color: white;
    border: none; }
    .formulario__contacto .enviar p, .formulario__contacto .enviar .contenedor__lotes .card__lotes h4, .contenedor__lotes .card__lotes .formulario__contacto .enviar h4, .formulario__contacto .enviar .mas__info h4, .mas__info .formulario__contacto .enviar h4 {
      color: white;
      text-transform: uppercase; }
  .formulario__contacto span {
    color: gray; }
  .formulario__contacto .aviso {
    font-size: 1em;
    color: #0e0e0e; }

::-webkit-input-placeholder {
  color: #a8a8a8; }

::-webkit-textarea-placeholder {
  color: #a8a8a8; }

.formulario input:focus {
  outline: 0;
  border: 1px solid gray; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid gray; }

@media screen and (max-width: 900px) {
  .formulario__contacto {
    display: flex;
    justify-content: center;
    margin: auto; }
    .formulario__contacto input {
      width: 300px; }
    .formulario__contacto textarea {
      width: 300px; }
    .formulario__contacto .enviar {
      padding: 1px 119px; } }
