@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none !important; 
    color: black;
}

/* ----- AQUI INICIAN LOS CODIGOS DE MENU------*/

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 100;
}

/*HEADER SUPERIOR*/

.header__superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo img{
    width: 250px;
}

/*BARRA MENU*/

.container__menu{
    width: 100%;
    height: 70px;
    background: white;
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    *height: 100%; /*modificaci贸n bootstrap*/
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
    margin-top: -24px; /*modificaci贸n bootstrap*/
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: black !important;
    text-transform: uppercase;
    font-size: 17px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
}

/*ELEMENTOS RESPONSIVOS DEL MENU*/

.icon__menu{
    font-size: 26px;
    color: black;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
    margin-top: 20px; /*modificaci贸n botstrap*/
}

.label__check{
    width: 26px;
    height: 100%;
    display: none;
    background-color: white; /*ver*/ 
}

#check__menu{
    display: none;
}

@media screen and (max-width: 720px){
    
    .header__superior{
        padding: 10px;
        justify-content: center;
    }

    .logo img{
        width: 200px;
        
    }

    .container__menu{
        background-color: white;
    }
    

    nav > ul{
        flex-direction: column;
        background-color: white;
        position: fixed;
        left: 0;
        top: 140px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li > a:hover{
        transform: scale(1);
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

    .label__check{
        display: block;
    }

    .icon__menu{
        display: flex;
    }

    #check__menu:checked ~ nav > ul{
        height: 300px !important;
        visibility: visible;
        opacity: 1;
    }

    main{
        margin-top: 158px;
    }
}
/* -----  FIN CODIGOS DE MENU------*/


/* -----  AQUI INICIAN LOS CODIGOS DEL FOOTER------*/
footer{
    width: 100%;
    padding: 30px 0px;
    background-color: black;   
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;   
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.box__footer .terms{
    max-width: 350px;
    font-size: 14px;
}

.box__footer p{
    color: white;
}

.box__footer h3{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}

.box__footer li {
    list-style: none;
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
    margin-left: -30px; /*modificaci贸n bootstrap*/
}

.box__footer a{
    margin-top: 10px;
    font-size: 14px;
    color: white;  
    margin-bottom: 5px; 
}

/*iconos footer*/
.fa-brands{
    margin-right: 10px;
    color: white;
}
.fa-solid{
    margin-right: 10px;
    color: white;
}
.fa-regular{
    margin-right: 10px;
    color: white;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: white;
    font-size: 14px;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: whitesmoke;
}
/* ---- AQUI FIN CODIGOS DEL FOOTER------*/

/* ----- ESTOS ID FUNCIONAN PARA LOS TITULOS Y TEXTOS DE TODAS LAS SECCIONES ------*/
main{
    background: white;
    padding: 0;
    margin-top: 180px;   
}

#textoMadre {
    width: 90%;
    max-width: 1250px;
    margin: auto;
    padding: 40px;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

#textoMadre p{
    margin-bottom: 10px;
}

#titulos{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: left;
}


@media screen and (max-width: 479px){
    
    main{
        padding: 0;
    
    }

    #titulos{
        text-align: left;
    }

    #textoMadre {
        padding: 2px;
        font-weight: 300;
        line-height: 20px;
    }

    #textoMadre p{
        margin-bottom: 10px;
    }
}

/* ----- AQUI INICIA EL INDEX ------*/

.banner{
    padding: 0;
    margin-top: -10px;
    margin-bottom: -20px;
}

.banner img{
    width: 100%;   
}

.banner__vertical img{
    visibility: hidden;
    width: 0;
}


@media screen and (max-width: 479px){
    .banner img{
        display: none;
    }

    .banner__vertical img{
        width: 100%;
        visibility: visible;
        margin-top: -40px;  
    }
}

/* ----- AQUI INICIA LA PAGINA SUBASA ACTUAL ------*/
.contenedor__Subasta{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 50px;
}

.subasta__arte{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    text-align: right;
    margin-bottom: -3px;

}
.subtitulo{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 29.5px;
    text-align: right;
}
.separador{
    padding: 1px;
    background-color: black;
    margin-bottom: 30px;
}

.parrafo__black{
    font-weight: 500;
    text-align: right;
    margin-top: -10px;
}

.contenedor__lotes{
    display: flex;
    flex-direction: column;
}

.card__lotes{
    width: 100%;
    display: grid;
    grid-template-columns:30% 50% 10% ;
    gap: 20px;
}

.card__lotes img{
    width: 250px;
    margin-bottom: 40px;
}

.artista{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.obra{
    font-style: italic;    
}

.base__texto{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.boton__info{
    margin: 20px 0px;
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    transition: all 300ms ease;
}

.boton__info:hover{
    transform: scale(1.1);
}

.lote__padre{
    position: relative;
}

.boostrap__lote{
    width: 500px;
    height: auto;
    margin: 250px auto 30px auto;  
}

@media screen and (max-width: 968px){

    .contenedor__Subasta{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .parrafo__black{
        text-align: left;
        margin: 0;
        gap: 10px;
    }

    .contenedor__lotes{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
    .card__lotes{
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .card__lotes img{
        width: 250px;
        margin-bottom: 20px;
        margin: auto;
    }

    .division{
        border: none;
        height: 1px;
        background-color: black;
        margin: 30px 0px;
    }

    .boostrap__lote{
        width: auto;
        margin: auto;
        margin-bottom: 20px;

    }
}

/* ----- AQUI INICIA LA PAGINA SUBASAS PASADAS ------*/
.subastas__pasadas{
    display: flex;
}

.subtitulo_sp{
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 29px;
}

.contenedor__catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.catalogo img{
    width: 250px;
    min-height: 200px;
    background-size: cover;
    background-position: center center;
    transition: all 300ms ease;
    margin-top: 20px;
}


.catalogo img:hover{
    transform: scale(1.1);
}

.contenedor__catalogo p{
    text-transform: uppercase;
    margin-top: 20px;
    *padding: 10px;
    *background-color: black;
    color: black;
    text-align: left;
    
}

@media screen and (max-width: 479px){

    .contenedor__catalogo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
}

/* ----- AQUI INICIA LA PAGINA NOSOTROS ------*/

.contenedor__nosotros{
    display: flex;
}

.fachada img{
    width: 600px;
    margin: 15px 0px 20px 40px;        
}

.contenedor__staff{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.card__staff{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px 20px 0px;
}

.perfiles img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;

}
  
.perfiles:hover img {
    filter: grayscale(0);
}

.nombre__staff{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.cargo__staff{
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
}

.mail{
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 479px){

    .contenedor__nosotros{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }

    .fachada img{
        width: 100%;
        padding: 0;
        margin: 15px 0px 15px;
    }

    .contenedor__staff{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
}


/* ----- AQUI INICIA LA PAGINA CONTACTOS ------*/


.contact_form{  
    width: 90%;
    max-width: 1250px; 
    height: auto;
    margin-top: 20px;  
    padding-top: 10px;
    padding-bottom: 20px;    
}
    
input{ 
    width: 1150px;
    height: 40px;
    border-top: #0e0e0e;
    border-left: none;
    border-right: none;
    border-width: 1px;  
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

textarea{
    width: 1150px; 
    height: 150px; 
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

label{
    display: block; 
    float: center;  
}


.enviar{
    width: 1150px;
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: black; 
    border-style: none; 
}
  
  
.enviar p{
    color: #fff; 
}
  
  
.formulario input:focus{
    outline:0;
    border: 1px solid #570f0f;
}
  
.formulario textarea:focus{
    outline:0;
    border: 1px solid #570f0f;
}

@media screen and (max-width: 479px){

    .contact_form{  
        width: 90%;
        max-width: 280px; 
        margin: auto;
    }
        
    input{ 
        width: 280px;
    }
    
    textarea{
        width: 280px; 
    }

    .enviar{
        width: 280px;
    }
}





  

      
