.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px 20px 0px;
}

.avatar{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;

}

.perfiles:hover img {
    filter: grayscale(0);
}

.nombre__staff {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.cargo__staff {
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
}

.mail {
    font-size: 14px;
    text-align: center;
}


p {
    margin-bottom: 10px;
    text-align: left;
    font-size: $lectura;
    font-weight: 400;
    line-height: 38px;
}


/*ejercicio extend*/

.ucard{
    @extend .card;
    > img {
        @extend .avatar;
    }
    >h3{
        @extend .nombre__staff;
    }
    >h4{
        @extend .cargo__staff;
    }
    >h5{
        @extend .mail;
    }
}