

@mixin flexColum{
    display: flex;
    flex-direction: column;
}

@mixin flexRox {
    display: flex;
    flex-direction: row;
}

@mixin flexWrap {
    display: flex;
    flex-wrap: wrap;    
}

@mixin iconosFooter {
    margin-right: 10px;
    font-size: 1.200em;   
}

@mixin separador{
    padding: 1px;
    background-color: black;
    margin-bottom: 30px;
}

@mixin efecto {
    animation: fadeIn; 
    animation-duration: 1s;  
}

//mixin sin parametro//

@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}