@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variables", "mixin", "extend";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none !important;
    color: $color-tipografia;
}

/* ----- AQUI INICIAN LOS CODIGOS DE MENU------*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $color-fondo;
    z-index: 100;
}

/*HEADER SUPERIOR*/

.header__superior {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0px;

    .logo img {
        width: 250px;
    }
}

/*BARRA MENU*/

.container__menu {
    width: 100%;
    height: 70px;
    background: $color-fondo;
    padding: 0px 20px;

    .menu {
        max-width: 1200px;
        margin: auto;
        height: 100%;
    }
}

nav {
    height: 100%;

    ul {
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        li {
            height: 100%;
            list-style: none;
            position: relative;

            a {
                width: 100%;
                height: 100%;
                *display: flex;
                *align-items: center;
                padding: 14px;
                color: $color-tipografia;
                text-transform: uppercase;
                font-size: 1.25em;
                font-weight: 500;
                text-align: left;
                background-image: linear-gradient(transparent 0%, transparent 90%, black 90%, black 100%);
                background-repeat: no-repeat;
                background-size: 0% 100%;
                background-position-x: right;
                transition: background-size 300ms;

                &:hover {
                    background-size: 100% 100%;
                    background-position-x: left;
                    color: $color-tipografia
                }
            }
        }
    }
}

/*ELEMENTOS RESPONSIVOS DEL MENU*/

.icon__menu {
    font-size: 1.625em;
    color: $color-tipografia;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

.label__check {
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu {
    display: none;
}

@media screen and (max-width: 953px) {

    .header__superior {
        display: flex;
        justify-content: center;
        padding: 10px;

        .logo img {
            width: 200px;
        }
    }

    .container__menu {
        height: 34px;
    }

    nav {
        ul {
            flex-direction: column;
            background-color: $color-fondo;
            position: fixed;
            left: 0;
            top: 120px;
            width: 100%;
            height: 0px;
            z-index: 100;
            opacity: 0;
            visibility: hidden;

            li:first-child a {
                background-position: 20px;
            }
        }
    }

    .label__check {
        display: block;
    }

    .icon__menu {
        display: flex;
    }

    #check__menu:checked~nav>ul {
        height: 300px !important;
        visibility: visible;
        opacity: 1;
    }

    main {
        margin-top: 158px;
    }
}

/* -----  FIN CODIGOS DE MENU------*/

/* -----  AQUI INICIAN LOS CODIGOS DEL FOOTER------*/
footer {
    width: 100%;
    padding: 30px 0px;
    background-color: $color-fondo;

    .container__footer {
        @include flexWrap;
        justify-content: space-between;
        max-width: 1400px;
        margin: auto;

        .box__footer {
            @include flexColum;
            padding: 25px;
        }
    }
}

.box__footer .terms {
    max-width: 350px;
    font-size: $lectura;
}


.box__footer h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: $lectura;
    text-transform: uppercase;
}

.box__footer li {
    list-style: none;
    font-size: $lectura;
    margin-bottom: 5px;
    margin-left: -30px;
}

.box__footer a {
    margin-top: 10px;
    font-size: $lectura;
    margin-bottom: 5px;
    color: $color-tipografia;
}

/*iconos footer*/
.fa-brands {
    @include iconosFooter;
}

.fa-solid {
    @include iconosFooter;
}

.fa-regular {
    @include iconosFooter;
}

/*copyright*/
.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    font-size: 0.875em;
}

/* ---- AQUI FIN CODIGOS DEL FOOTER------*/

/* ---- CONTENEDOR PADRE------*/

main {
    max-width: 1200px;
    margin: auto;
    height: 100%; 
    background-color: $color-fondo;
    margin-top: 220px;
    padding: 15px;
}

@media screen and (max-width: 900px) {

    main{
        margin-top: 114px;
    }
}

/* ----- AQUI INICIA EL INDEX ------*/

.index__contenedor {
    display: grid;
    grid-template-columns: 40% 5% 40%;
    gap: 0 60px;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;

    .subasta__index {
        text-transform: uppercase;
        font-size: 2.3em;
        font-weight: 600;
        text-align: right;
    }

    .subtitulo__index {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.4em;
        text-align: right;
        margin-bottom: 20px;
    }

    .parrafo__index {
        font-weight: 500;
        text-align: right;
        margin-top: -10px;
    }

}

.separador__index {
    @include sizes(3px, 200px);
    background-color: #000000;
}

.banner img {
    @include sizes(500px, 500px);
    object-fit: cover;
}

@media screen and (max-width: 1338px) {

    .index__contenedor {
        @include flexColum;
        justify-items: center;
        padding: 0px;
        margin: -36px 0px 20px;

        .subasta__index {
            font-size: 1.500em;
            text-align: center;
            margin-bottom: 5px;
        }

        .subtitulo__index {
            font-size: 1.800em;
            text-align: center;
        }

        .parrafo__index {
            font-size: 0.875em;
            text-align: center;
        }
    }

    .separador__index {
        @include sizes(200px, 2px);
        margin-top: 10px;
        margin-bottom: 10px
    }

    .banner img {
        @include sizes(380px, 390px);
        object-fit: cover;
        margin-top: 20px;
    }
}

/* ----- AQUI INICIA LA SECCION SUBASTA ACTUAL ------*/

.contenedor__Subasta {
    display: grid;
    grid-template-columns: 40% 57%;
    gap: 50px;
}

.subasta__arte {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 800;
    text-align: right;
    margin-bottom: -3px;
}

.subtitulo {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.844em;
    text-align: right;
}

.separador {
    padding: 1px;
    background-color: black;
    margin-bottom: 30px;
}

.parrafo__black {
    font-weight: 500;
    text-align: right;
    margin-top: -10px;
}

.contenedor__lotes {
    @include flexColum;
}

/* -LOTES-*/

.card__lotes {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 50% 10%;
    gap: 20px;

    img {
        width: 100%;
        margin-bottom: 40px;
    }
    
}

h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

h4{
    @extend p;
}

.boton__info {
    margin: 20px 0px;
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    transition: all 300ms ease;
}

.boton__info:hover {
    transform: scale(1.1);
}

/* -MAS INFO-*/

.boostrap__lote {
    max-width: 500px;
    margin: auto;
    padding-bottom: 30px;
}

@media screen and (max-width: 968px) {

    .contenedor__Subasta {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .parrafo__black {
        text-align: left;
        margin: 0;
        gap: 10px;
    }

    .contenedor__lotes {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .card__lotes {
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .card__lotes img {
        width: 250px;
        margin-bottom: 20px;
        margin: auto;
    }


    .boostrap__lote {
        width: auto;
        margin: auto;
        margin-bottom: 20px;

    }
}

